<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

   <property scope="context" name="logback.file.path" value="logs/" />

   <appender name="R" class="ch.qos.logback.core.FileAppender">
       <file>${logback.file.path:-}weltraumroutenplaner.log</file>
       <encoder>
          <pattern>%d{dd MMM yyyy HH:mm:ss} %-5level [%t] %logger{36}:%L - %msg%n</pattern>
       </encoder>
   </appender>

    <appender name="con" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern> 
        </encoder>
    </appender>
   
    <root level="info">
        <appender-ref ref="con" />
        <appender-ref ref="R" />
    </root>
  
    <logger name="de" level="info" />

</configuration>